APP_NAME=NovaBite
APP_ENV=development
DEBUG=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=novabite
POSTGRES_USER=novabite
POSTGRES_PASSWORD=change_me

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=novabite

FAISS_INDEX_PATH=./faiss_index